*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    background-color: azure;
}
    .mainBox{
        border: 1px solid #000;
        width: 50vw;
        height: 100vh;
    }
        form{
            display: flex;
            flex-direction: column;
            margin: 50px 10px 0 100px;

            color: Olive;
            position: relative;
        }
            label{
                margin-bottom: 5px;
            }
            input{
                margin-bottom: 15px;
                height: 30px;
                font-size: 16px;
                color: DarkOliveGreen;
                padding: 0 10px;
            }
            #addUser{
                width: 90px;
                height: 35px;
                background-color: azure;
                border: 2px solid SeaGreen;
                color: seagreen;
            }
            #addUser:hover, #editUser:hover{
                background-color: seagreen;
                border: 2px solid azure;
                color: azure;
            }
            #editUser{
                width: 90px;
                height: 35px;
                background-color: azure;
                border: 2px solid SeaGreen;
                color: seagreen;
                position: absolute;
                bottom: 0;
            }
        
            
/* ------ */
table{
    margin: 50px auto;
    border-collapse: collapse;
}
    th, td{
        width: 100px;
        height: 50px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        text-align: center;
    }
    td{
        font-size: 16px;
    }
    .edit{
        width: 90px;
        height: 35px;
        background-color: gold;
        border: 2px solid yellow;
        color: olive;
        outline: none;
    }
    .edit:hover{
        width: 90px;
        height: 35px;
        background-color: yellow;
        border: 2px solid gold;
        color: olive;
    }
    .delete{
        width: 90px;
        height: 35px;
        background-color: red;
        border: 2px solid orangered;
        color: olive; 
        outline: none;
    }
    .delete:hover{
        width: 90px;
        height: 35px;
        background-color: orangered;
        border: 2px solid red;
        color: olive; 
    }
.hide{
    display: none;
}