main{
    border: 1px solid $secondBGColor;
    min-height: 85vh;
    width: 97%;
    margin: 0px auto;
    border-radius: 15px;
    background-color: $secondBGColor;
    position: relative;
}