$mainBGColor: lightsalmon;
$mainBoxColor: skyblue;
$BoxColor: 	lightblue;
$twitterColor: lightskyblue;
$facebookColor: 	royalblue;
$linkedinColor: steelblue; 
$instagramColor1:	green;
$instagramColor2: limegreen;
$youtubeColor: red  ;
$tumblrColor: 	darkslategray; 
$dribbbleColor1: palevioletred;
$dribbbleColor2: lightpink;
$icoColor: azure;
$transform: scale(1.7);