#rm{
    width: 198px;
    height: 55px;
    background-color: black;
    border: 1px solid white;
    color: white;
    margin-left: 108px;
}
#sa{
    width: 238px;
    height: 42px;
    background-color: black;
    border: 1px solid black;
    color: white;
    position: absolute;
    bottom: 71.33px;
    left: 450px;
}
#sn{
    width: 198px;
    height: 42px;
    background-color: black;
    border: 1px solid white;
    color: white;
    margin-left: 187px;
}