header{
    width: 1440px;
    height: 690px;
        .close {
            position: absolute;
            left: 51px;
            top: 51px;
            width: 32px;
            height: 32px;
            opacity: 0.3;
        }
        .close:hover {
            opacity: 1;
        }
        .close:hover ~ .menu{
            display:block;
        }
        .close:before, .close:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #333;
        }
        .close:before {
            transform: rotate(45deg);
        }
        .close:after {
            transform: rotate(-45deg);
        }
        .menu{
            display: none;
            position: absolute;
            width: 300px;
            height: 300px;
            left: 51px;
            top: 106px;
            background: #FFFFFF;
            box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
            font-family: Kanit;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-decoration-line: underline;
            padding: 52px 66px;

            li{
                margin-bottom: 13px;
            }
        }
    .title{
        width: 1440px;
        height: 120px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mutualBoxHeader{
        display: flex;
        .photoBoxHeader{
            background-image: url(./assets/images/photoBoxHeader.png);
        }
        .textBoxHeader{
            background-color: #000000;
            .headerDateLink{
                width: 502px;
                height: 24px;
                margin: 110px 110px 66px 108px;
                display: flex;
                justify-content: space-between;
                .headerDate{
                    width: 136px;
                    height: 21px;
                    margin-bottom: 2px;
                    font-family: Kanit;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: 7px;
                    color: white;
                }
                .headerLink{
                    width: 75px;
                    height: 24px;
                    font-family: Kanit;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    a{
                        color: white;
                    }
                }
            }
            .headerArticleHeader{
                width: 503px;
                height: 42px;
                margin: 0 110px 29px 108px;

                font-family: Kanit;
                font-weight: 500;
                font-size: 28px;
                line-height: 42px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            .headerArticle{
                width: 503px;
                height: 42px;
                margin: 0 110px 54px 108px;

                font-family: Kanit;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #FFFFFF;
                letter-spacing: 1px;
                overflow: hidden;

            }
        }
    }
}